body {
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    background: #f1f5f9;
}

/* NAVBAR */
nav {
    background: #0f172a;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-weight: 500;
}

nav a:hover {
    color: #3b82f6;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #1e293b, #0f172a);
    color: white;
    padding: 80px 20px;
    text-align: center;
}

/* SECTIONS */
section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

/* CARDS */
.card {
    background: white;
    padding: 25px;
    margin-bottom: 20px;
    border-radius: 12px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

h2 {
    color: #0f172a;
}
